{% extends 'base.html.twig' %}

{% block title %}Speler index{% endblock %}

{% block body %}
    <h1>Speler index</h1>

    <table class="table" style="text-align: center" width="500px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for speler in spelers %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if speler.isOnHotstreak() %} 🔥{% endif %}{{ speler.naam }}{% if speler.getMatchCount() < 5 %}*{% endif %}{% if speler.isOnHotstreak() %} 🔥{% endif %}</td>
                <td>{{ speler.rating|round }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Players marked with an * have not yet completed 5 games. <br>
    Scores for these players are provisional</p>

    <a href="{{ path('speler_new') }}">Create new</a>
{% endblock %}
